*{
    text-decoration: none;
}

body{
    background-color: #fffff0;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}


/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    color: #fffff0;
    margin-bottom: 3%;
    min-height: 30em;
    background-image: url('jumbotron.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotron_txt
{
    display: flex;
    align-items: center;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.card
{
    border-bottom: 1px solid black;
    border-radius: 2%;
    padding: 5%;
}
.container
{
    width: 80%;
}

.shopping_btn
{
    border:2px solid black;
    border-radius: 5px;
    padding: 2%;
    color: black;
}

.shopping_btn:hover{
    background-color: #D2691E;
    color:#fffff0;
    text-decoration: none;
    border-color: #D2691E;
}

.scris
{
    width: 70%;
    margin: auto;
}
 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.card-img-top{
    width: 100%;
}
#meniu{
    background-color: #D2691E;
    border: 0px;
    opacity: .7;
    height: 4em;
}

.nav-li>a,.navbar-inverse .navbar-nav>.active>a{
    background-color: #D2691E;
    margin-right: 25px;
    border-top: 3px solid #D2691E;
    border-bottom: 3px solid #D2691E;
}

.navbar-inverse .navbar-nav > .nav-li > a{
    color: #fffff0;
}

@keyframes border-anim{
    from{border-top-color:#D2691E; border-bottom-color:#D2691E}
    to{border-top-color:#fffff0; border-bottom-color:#fffff0;}
}

.navbar-inverse .navbar-nav>.active .nav-li>a:focus, .navbar-inverse .navbar-nav>.active .nav-li>a:hover, .navbar-inverse .navbar-nav>.nav-li>a:focus, .navbar-inverse .navbar-nav>.nav-li>a:hover{
    background-color: #D2691E;
    animation: border-anim .2s linear 0s 1 normal forwards;
}

.big-container{
    width: 75%;
    float:right;
}

.sidebar{
    margin-left: 2%;
    position: absolute;
    float:left;
    height: 100%;
    width: 20%;
    border-right: 1.5px solid #787878;
}

.sidebar_txt
{
    position: absolute;
    top: 15%;
    width: 90%;
    left:3%;
}

.sidebar_txt > div > a, .sidebar_txt > div> a:hover{
    color: black;
    text-decoration: none;
}

.sidebar_txt > div{
    margin-top: 8%;
}

.sidebar_txt > div> a:hover{
    color: #D2691E;
}

.sidebar_subtxt{
    margin-left: 8%;
}

.card-title{
    color:#D2691E;
}

.pagi
{
    margin: auto;
    width: 20%;
}

.pagi > nav > .pagination > .page-item{
    background-color: #D2691E;
}

.pagi > nav > .pagination > .page-item > .page-link{
    color: #fffff0;
}