body{
    background-color: #eee;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    }
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.card
{
    border-bottom: 1px solid black;
    border-radius: 2%;
    padding: 5%;
}

.pagi
{
    margin: auto;
    width: 20%;
}

.container
{
    width: 70%;
    margin-left: 20%;
}

.shopping_btn
{
    border-style: solid;
    border-radius: 5px;
    padding: 2%;
    color: black;
}

.scris
{
    width: 70%;
    margin: auto;
}
 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}