body{
    background-color: #eee;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}


/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.card
{
    border-bottom: 1px solid black;
    border-radius: 2%;
    padding: 5%;
}

.pagi
{
    margin: auto;
    width: 20%;
}

.container
{
    width: 70%;
    margin-left: 20%;
}

.shopping_btn
{
    border-style: solid;
    border-radius: 5px;
    padding: 2%;
    color: black;
}

.scris
{
    width: 70%;
    margin: auto;
}
 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.card-img-top{
    width: 100%;
}
#meniu{
    background-color: #D2691E;
    border: 0px;
}

.nav-li>a,.navbar-inverse .navbar-nav>.active>a{
    background-color: #D2691E;
    margin-right: 5px;
    border-top: 1px solid #D2691E;
    border-bottom: 1px solid #D2691E;
}

.navbar-inverse .navbar-nav > .nav-li > a{
    color: #fffff0;
}

.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #D2691E;
    animation: border-anim 3s linear 0s 1 normal;
}

@keyframes border-anim{
    0%{border-top-color:#D2691E; border-bottom-color:#D2691E}
    100%{border-top-color:#fffff0; border-bottom-color:#fffff0;}
}

#continut{
    position: absolute;
    float: right;
    width: 80%;
}

.sidebar{
    background-color: #D2691E;
    position: absolute;
    float:left;
    height: 100%;
    width: 20%;
}

.card-title{
    color:#D2691E;
}