.card
{
    border-bottom: 1px solid black;
    border-radius: 2%;
    padding: 5%;
}

.pagi
{
    margin: auto;
    width: 20%;
}

.container
{
    width: 70%;
    margin-left: 20%;
}

.shopping_btn
{
    border-style: solid;
    border-radius: 5px;
    padding: 2%;
    color: black;
}

.scris
{
    width: 70%;
    margin: auto;
}
 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
  


